SOURCE_URL=https://eltoque.com/tasas-de-cambio-cuba

# Tiempo del caché en segundos.
# 60 = 1 minuto
# 300 = 5 minutos
# 1800 = 30 minutos
# 3600 = 1 hora
CACHE_TIME=1800

# Tiempo máximo de la solicitud HTTP
REQUEST_TIMEOUT=30

# Archivo donde se guardará el caché
CACHE_FILE=storage/cache.json

# Zona horaria
TIMEZONE=America/Havana

# Permitir index.php?refresh=1
ALLOW_FORCE_REFRESH=false
